/* Styles de base pour le body et le header */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 85vh;
  width: 100%;
}

header a {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

header a img {
  width: 207px;
  height: 25.26px;
}

header div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

header div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Anton", sans-serif;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  color: #FFD15B;
  line-height: 1.5;
  width: 80%;
  z-index: 2;
}

.search-bar {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  z-index: 2;
  width: 954px;
  height: 45px;
  background-color: #fff;
  border-radius: 36px;
  border: 1px solid #ccc;
}

.search-input {
  padding: 0 50px 0 20px;
  font-size: 16px;
  width: calc(100% - 50px);
  height: 100%;
  border: none;
  border-radius: 10px;
}

.search-icon {
  position: absolute;
  cursor: pointer;
  height: 35px;
  right: 5px;
}

.filter-menu {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  gap: 10px;
}


.filter-item {
  margin-right: 20px;
}

.filter-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  white-space: nowrap;
  right: 50px;
  position: absolute;
}

.ingredients-btn-container,
.appareils-btn-container,
.ustensiles-btn-container {
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-left: -50px;
}
/* Styles pour les boutons d'entrée */
.filter-item input {
  font-size: 18px;
  padding: 18px 10px;
  width: 60%;
  text-align: left;
  border: none;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 12px rgb(170, 168, 168);
  margin-left: 50px;
}

/* Styles pour les listes */
.filter-item ul {
  top: 43px; 
  padding: 10px;
  width: 73%;
  list-style: none;
  background-color: #FFFFFF;
  box-shadow: 0 4px 12px rgb(170, 168, 168);
  border-radius: 15px;
  max-height: 150px; 
  overflow-y: auto; 
  display: none; 
  position: absolute; 
  z-index: 10;
}

/* Styles pour le conteneur du filtre */
.filter-item {
  position: relative; /* Important pour positionner les éléments internes */
  margin-bottom: 20px; /* Ajoute un espacement entre les filtres */
}


.fa-solid {
  position: absolute;
  right: 50px;
  top: 21px;
  color: rgb(6, 4, 4);
  cursor: pointer;
}
.liste-tag {
  display: none;
}
#hide-ingredients, #hide-Appareils, #hide-ustensiles {
  display: none;
}
#show-ingredients, #show-Appareils, #show-ustensiles {
  display: block;
}


.tag-ingredient p, .tag-appareil p, .tag-ustensile p {
  color: rgb(17, 13, 13);
  font-size: 14px;
}

main {
  background-color: #E5E5E5;
  padding-top: 3px;
}

.container-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.container-recipes article {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 21px;
}

.recipe-card {
  width: 380px;
  background-color: #FFFFFF;
  border-radius: 21px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  margin: 20px;
}

.image-container {
  position: relative;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  max-height: 300px;
  object-fit: cover;
}

.recipe-timer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFD15B;
  color: #050303;
  padding: 5px 10px;
  border-radius: 21px;
  font-size: 14px;
  font-weight: bold;
}

.recipe-card h2 {
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  font-family: "Anton", sans-serif;
  font-weight: 900;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 20px;
}

.recipe-details h3 {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-top: 15px;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 20px;
}

.recipe-details p {
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  margin: 0 20px 15px 20px;
  text-align: justify;
}

.ingredients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  text-align: justify;
}

.ingredients-list li {
  font-size: 16px;
  color: #444;
}

.ingredient-name {
  font-weight: bold;
  display: block;
}

.ingredient-quantity {
  font-size: 14px;
  color: #666;
  display: block;
  margin-top: -20px;
}
